
Source: capi-web-url-download
Section: libs
Priority: extra
Maintainer: Woongsuk Cho <ws77.cho@samsung.com>, junghyuk park <junghyuk.park@samsung.com>, JungKi Kwak <jungki.kwak@samsung.com>, InBum Chang <ibchang@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, capi-base-common-dev, libdownload-agent-dev, libbundle-dev

Package: capi-web-url-download
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A URL Download library in Tizen Native API

Package: capi-web-url-download-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-web-url-download (= ${Source-Version}), capi-base-common-dev
Description: A URL Download library in Tizen Native API (DEV)

Package: capi-web-url-download-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-web-url-download (= ${Source-Version})
Description: A URL Download library in Tizen Native API (DBG)

